EXCHANGE_API_URL=https://openexchangerates.org/api/latest.json
EXCHANGE_API_KEY=<token>

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=<email-user>
SMTP_PASSWORD=<app_pass>
EMAIL_FROM=<email-sender>
EMAIL_TO=<email-receiver>